* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: karla;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
    padding: 1rem;
    background-color: #000;
    ;
}

.navbar {
    list-style: none;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.10);
    transition: background-color 0.5s ease;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.342);
    z-index: 5;
}

.navbar li {
    margin: 0 2rem;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.navbar a:hover {
    color: #B11313;
    font-weight: bold;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 55rem;
    overflow: hidden;
    padding: 1rem 0;
    background: url(into_the_spiderverse.jpg) no-repeat center/cover;
}

.header::after {
    content: '';
    position: absolute;
    bottom: -13px;
    left: 0;
    right: 0;
    height: 20%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
}

.banner-img img {}

.video video {
    width: 100%;
    height: 50rem;

    background-size: cover;
    background-position: center;
}

.container {
    margin-top: 100vh;
    max-width: 70%;
    overflow: hidden;
    position: relative;
    margin: 5rem auto;
    justify-content: center;
    align-items: center;
}

.story {
    position: relative;
    /* background: url(spider02.jpg) repeat center/cover; */
    height: 50rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.story-text {
    position: absolute;
    text-align: start;
    background: rgba(0, 0, 0, 0.5);
    max-width: 40rem;
    height: 100%;
    padding: 8rem 2rem;
}

h2 {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 42px;
    font-weight: bold;
}

.story-text h2 {
    font-size: 42px;
    padding: 2rem 0;
}

.story-text p {
    font-size: 16px;
    line-height: 1.7;
}

.trailer {
    display: flex;
    justify-content: center;

}

.trailer-video iframe {
    padding: 2rem 0;
}





footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #B11313;
}

.foot-text {
    color: #fff;
}